<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.lwj.mapper.AdminMapper">
  
  <!-- 작가 등록 -->
  	<insert id="imageEnroll">
  	
  		insert into goods_image(imageName, authorId, publeYear, publisher, catCode, imagePrice, imageStock, imageDiscount, imageIntro, imageContents)
		values(#{imageName},#{authorId}, #{publeYear},#{publisher},#{catCode},#{imagePrice},#{imageStock},#{imageDiscount},#{imageIntro},#{imageContents})

  	</insert>
  
  </mapper>